<div class="main users-new">
  <div class="container">
    <div class="form-heading">Registration</div>
    <div class="form users-form">
      <div class="form-body">

        <!-- error -->
        <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
            <%= message %>
            </div>
        <% end %>

        <%=form_tag("/users/create", {multipart: true}) do%>
            <p>User name</p>
            <input name="name" value="<%=@user.name%>">

            <p>User image</p>
            <input name="image" type="file">
            
            <p>Email Address</p>
            <input name="email" value="<%=@user.email%>">

            <p>Password</p>
            <input name="password" type="password" value="<%=@user.password%>">
            
            <input type="submit" value="Registration">
        <% end %>

      </div>
    </div>
  </div>
</div>