<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>

        <% if @current_user.id == @user.id %>
            <%=link_to("edit", "/users/#{@user.id}/edit")%>
        <% end %>

        <!---  for debug --->
        <!--- <%= link_to("Delete", "/users/#{@user.id}/destroy", {method: "post"}) %> --->

    </div>
  </div>
</div>