<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
    <div class="header-logo">
      <%=link_to("TweetApp","/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%=link_to("TweetAppとは","/about") %>
      </li>
      <li>
        <%=link_to("投稿一覧","/posts/index") %>
      </li>
      <li>
        <%=link_to("新規投稿", "/posts/new")%>
      </li>
      <li>
      <%=link_to("ユーザー一覧", "/users/index")%>
      </li>
      <li>
      <%=link_to("新規ユーザー登録", "/signup")%>
      </li>
    </ul>
  </header>

  <!-- flash -->
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

    <!-- 各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
      <%= yield %>
  </body>
</html>
